<div id="homepage-slider">
  <div style="background-image: url(http://crcasail.org/wp-content/uploads/2016/09/cool-affordable-backyard-ideas-1024x613.jpg);"></div>
  <div style="background-image: url(http://homegoid.com/wp-content/uploads/2015/12/wonderful-green-cool-design-beautiful-landscape-garden-grass-stone-natural-tree-exterior-small-garden-romantic-neat-at-house-as-well-as-backyard-design-ideas-also-landscape-companies.jpg)"></div>
</div>

<div id="homepage-cta">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet provident rerum laudantium, alias maxime quam, aliquid unde deserunt ut dolor placeat dolores dignissimos.</p>
</div>
