<div id="homepage-slider">
  <div style="background-image: url(http://crcasail.org/wp-content/uploads/2016/09/cool-affordable-backyard-ideas-1024x613.jpg);">
    <h3>A specialty consulting firm with a focus on land development and the core professional services of land planning, civil engineering and land surveying.</h3>
  </div>
  <div style="background-image: url(http://homegoid.com/wp-content/uploads/2015/12/wonderful-green-cool-design-beautiful-landscape-garden-grass-stone-natural-tree-exterior-small-garden-romantic-neat-at-house-as-well-as-backyard-design-ideas-also-landscape-companies.jpg)">
    <h3>As the successor to a company with over 40 years of experience, we provide high quality creative solutions for land developments located throughout the Southeastern Wisconsin, Fox River Valley and Madison areas.</h3>
  </div>
  <div style="background-image: url(http://hgtvhome.sndimg.com/content/dam/images/hgtv/fullset/2012/1/10/0/RX-DK-LGC01701_creative-landscape_s4x3.jpg.rend.hgtvcom.1280.960.jpeg)">
    <h3>Our approach seeks to respond to the existing environment, letting the land, natural resources and spatial context set the theme. Our portfolio includes low to high density multi-family residential and condominium projects, small to large scale planned neighborhoods, business and commercial developments, industrial parks, schools, churches, hospitals and a variety of infill and redevelopment projects.</h3>
  </div>
</div>
