<%
    var title;
    var postList = [];
    if (page.category) {
        site.categories.forEach(function(item) {
            if(item.name === page.category) {
                postList = item.posts.slice();
            }
        });
        title = page.category;
    }
    else if (page.tag) {
        site.tags.forEach(function(item) {
            if(item.name === page.tag) {
                postList = item.posts;
            }
        });
        title = page.tag;
    } else {
        postList = site.posts;
    }
%>

<section class="main clearfix">
    <p class="lead">LIVE it. Our portfolio includes small to large scale planned neighborhoods, low to high density multi-family residential and condominium projects, business and commercial developments, schools, churches, hospitals and a variety of redevelopment projects. Review our portfolio. Then imagine what we can do for you.</p>

    <p class="indigo">Include static image (photo or rendering) collage of highlighted projects (similar to www.tkwa.com). Click each image to bring up a project specific page with a brief narrative of the project and the role we played.</p>

    <% page.posts.each(function(item){ %>
        <%- partial('_partial/article-index', {item: item}) %>
    <% }); %>
    <%- partial('_partial/pagination') %>

    <!-- <section class="wrapper">
        <div class="content archives">
            <% if(title) { %>
                <div class="archive-title"><%- title %></div>
            <% } %>
            <ul class="archive-list">
                <% postList.each(function(item){ %>
                    <%- partial('_partial/article-archive', {item: item}) %>
                <% }); %>
            </ul>
        </div>
    </section> -->
</section><!-- end main -->
