<section class="main clearfix">
  <%- partial('_partial/fullpage-slider') %>

  <!-- <% page.posts.each(function(item){ %>
      <%- partial('_partial/article-index', {item: item}) %>
  <% }); %>
  <%- partial('_partial/pagination') %> -->
</section>
